@model IEnumerable<LagerMVC.Models.Order>
@{
    List<LagerMVC.Models.Voucher> Vouchers = ViewBag.Vouch;
}  

<table class="table table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Телефон</th>
            <th scope="col">Смена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model.Reverse())
        {
            <tr>
                <th scope="row">@o.OrderId</th>
                <td>@o.FirstName</td>
                <td>@o.LastName</td>
                <td>@o.ContactPhone</td>
                <td>@Vouchers.Where(x => x.VoucherId == o.VoucherId).FirstOrDefault().Name</td>
            </tr>
        }
    </tbody>
</table>
